
#boolean_options label,
#ext_lib label {
  display: block;
  margin-bottom: .2rem;
  cursor: pointer;
  transition: background-color .1s;
}
#boolean_options label:hover,
#ext_lib label:hover {
  /*display: inline-block;*/
  background-color: #eaeaea;
}
#boolean_options label input,
#ext_lib label input {
  margin-right: .25rem;
  cursor: pointer;
  transition: all .1s;
}
#boolean_options label:hover input,
#ext_lib label:hover input {
  margin-right: .35rem;
}

/* Reset Select */
.select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: none;
  box-shadow: none;
  border: 0 !important;
  background: var(--header-color);
  background-image: none;
}
/* Custom Select */
.select {
  position: relative;
  display: block;
/*  max-width: 20em;*/
  height: 2em;
  line-height: 2;
  background: var(--header-color);
  overflow: hidden;
  border-radius: .25em;
  margin: .3em 0 .7em 0;
}
.select select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  color: #fff;
  cursor: pointer;
}
.select select::-ms-expand {
  display: none;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  color: #000;
  padding: 0 1em;
  background-color: var(--select-color);
  pointer-events: none;
  transition: .25s all ease;
}
.select select optgroup {
  color: #BDBDBD;
  background-color: var(--select-color);
}
.select select optgroup option {
  color: #ddd;
}
/* Transition */
.select:hover::after {
  color: #0af;
}

nav.links .select {
  display: inline-table;
  max-width: 15rem;
  min-width: 10rem;
  border: 1px solid rgba(0,0,0,.3);
  margin: 0;
}


details {
  margin-bottom: .35rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
details[open] summary ~ div {
  padding: .5rem;
  animation: open-summary .2s ease-in-out;
}
details[open] summary:after {
  transform: rotate(-90deg);
}
details summary {
  position: relative;
  list-style-image: none;
  cursor: pointer;
  background-color: #02577A;
  color: #eee;
  padding: .2rem .5rem;
  font-weight: bold;
}
details summary:after {
  position: absolute;
  right: .5rem;
  content: '';
  width: 16px;
  height: 16px;
  transform: rotate(90deg);
  background-image: url("data:image/svg+xml;base64,PHN2ZyBjbGFzcz0iZmlsbC1jdXJyZW50IG9wYWNpdHktNzUgdy00IGgtNCAtbXItMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMjAgMjAiPjxwYXRoIGQ9Ik0xMi45NSAxMC43MDdsLjcwNy0uNzA3TDggNC4zNDMgNi41ODYgNS43NTcgMTAuODI4IDEwbC00LjI0MiA0LjI0M0w4IDE1LjY1N2w0Ljk1LTQuOTV6Ii8+PC9zdmc+");
  transition: all 0.3s;
}
details summary::-moz-list-bullet {
  list-style-type: none;
  display: block;
}
details summary::-webkit-details-marker {
  display: none;
}
details summary:focus {
  outline: none;
}
/* Ace Editor */
.readonly-highlight {
    background-color: #FF0;
    opacity: 0.1;
    position: absolute;
}
.ace_search.right {
  border-right: none;
 border-left: 0 none;
 border-radius: 0px 0px 5px 0px;
 left: 0;
 right: auto;
}

@keyframes open-summary {
  0%    {opacity: 0; margin-left: 0px}
  100%  {opacity: 1; margin-left: 0px}
}
