#editor, #schema, #startval, #csseditor,#output,#validate {
  width: 100%;
  height: 400px;
}

.split-parent {
  position: relative;
  width: 100%;
  overflow: hidden;
  border: 1px solid #ddd;
}
.split-parent:after {
  content: "";
  display: table;
  clear: both;
}
#split-panel1, #split-panel2,
#split-panel3, #split-panel4,
#split-panel5, #split-panel6 {
  position: relative;
  float: left;
}
.split-gutter {
    float: left;
    background-color: #eee;
    cursor: ew-resize;
    transition: .2s;
}
.split-gutter:hover {
    background-color: #888;
}